<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">





<body>

<h1> input product parametres</h1>

<form action="#" th:action="@{/addProduct}" th:object="${product}" method="post">
  <label for="title">Product title:</label> <!--> Tiek saglabāts teksts product.title-->
  <input type="text" th:field="*{title}" ><br><br>
  <label for="description">Product Description:</label>
  <input type="text" th:field="*{description}" ><br><br>
  <label for="price">Product Price:</label>
  <input type="text" th:field="*{price}" ><br><br>
  <label for="quantity">Product Quantity:</label>
  <input type="text" th:field="*{quantity}" ><br><br>
 
  <input type="submit" value="Submit">
</form>



</body>
</html>
