
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<script src="index.js"></script>
  
  <h1>Jakobe Home</h1>

<h1>Welcome Home<span style="font-size: 13px;"><b>&nbsp;</b></span></h1>

<blockquote>Here is a blockquote... add some more text!</blockquote>

<p>Here is a checklist for a good online editor:</p>

<ul>
	<li>Is it a WYSIWYG editor? (WYSIWYG means &quot;What You See Is What You Get&quot; - just like this editor!)</li>
	<li>Does it generate valid HTML code?</li>
	<li>Is it quick and easy?</li>
	<li>Is it... FREE?</li>
</ul>

<p>Feel free to use this online HTML editor for generating HTML code for your own website, blog, email newsletter, etc. To view the source code, simply select the &quot;Tools &gt; Source&quot; menu option above.</p>

<img src="https://static.euronews.com/articles/stories/06/43/76/76/1440x810_cmsv2_8b9c9503-4d71-5a47-b199-fd6e1185ff06-6437676.jpg" alt="Ukraine Flag" width="500" height="600">

  
  
  
  
  </body>
</html>

