<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MSG</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  
  <p th:text="${msg}" />
    <p th:text="${msg2}" />

  
  
  <h1>Backend Frontend message</h1>


	<img src="https://static.euronews.com/articles/stories/06/43/76/76/1440x810_cmsv2_8b9c9503-4d71-5a47-b199-fd6e1185ff06-6437676.jpg" alt="Ukraine Flag" width="500" height="600">

  
  
  
  
  </body>
</html>

