<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>
Update Page
</title>
</head>



<body>

<h1> Update product parametres</h1>

<form action="#" th:action="@{/updateProduct/__${id}__}" th:object="${product}" method="post">

 <table>
        <tr>
                <td><label>Nosaukums</label></td>
                <td><input type="text" th:field="*{title}"/></td> <!-- tiek saglabāts teksts product.title -->
                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
        </tr>
        
        <tr>
                <td><label>Apraksts</label></td>
                <td><input type="text" th:field="*{description}"/></td>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
        </tr>
        
        <tr>
                <td><label>Cena</label></td>
                <td><input type="text" th:field="*{price}"/></td>
                <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}" />
                
        </tr>
        <tr>
                <td><label>Daudzums</label></td>
                <td><input type="text" th:field="*{quantity}"/></td>
                <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" />
                
        </tr>
        </table>
        
</form>



</body>
</html>
